.navbar {
  height: 70px;
  background: linear-gradient(90deg, #0d6efd, #d73e0b);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background: #ffd43b;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

.register-btn {
  background: #ffc107;
  padding: 8px 16px;
  border-radius: 20px;
  color: black !important;
  font-weight: 600;
}
.username {
  color: #ffd43b;
  font-weight: 600;
  cursor: default;
}

.logout-btn {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
}

