body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.form-container {
  width: 300px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, button {
  padding: 10px;
}
